* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
}

html {
    scroll-behavior: smooth;
}


/* header */

header {
    background-color: white !important;
}



/* main */

h1 {
    margin-left: 120px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 50px;
    line-height: 120%;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    width: 250px;
    padding: 20px;
    border: 1px solid #251d7a5c;
    border-radius: 5px;
    margin: 10px;
    text-align: left;
}
.product-card img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #000000;
}

.description {
    display: none;
}
  
a > h3 {
    font-size: 20px;
    font-weight: 400;
}

a > p {
    font-size: 14px;
    line-height: 150%;
}