* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Monserrat", serif;
    background-color: #EDF2FB;
}

html {
    scroll-behavior: smooth;
}


/* header */


.navbar {
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.logo img {
    height: 120px;
    margin: 10px;
}

.nav-links {
    padding-top: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    padding: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}



/*main */

table {
    width: 70%;
    border-collapse: collapse; 
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    background-color: #edf2fb; 
    margin: 50px 0;
}

th, td {
    border: 2px solid #00b4d8; 
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0077b6; 
    color: white;
}





/* footer */


footer {
    background-color: #10002B;
    margin-top: 120px;
    padding-top: 30px;
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.footer h3 {
    color: white;
    font-size: 20px;
    margin: 15px;
}

.footer div ul li {
    list-style: none;
    padding: 5px;
}

.footer div ul li a {
    text-decoration: none;
    color: rgb(205, 201, 233);
}

footer img {
    width: 300px;
    margin: 20px;
}