* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Monserrat", serif;
}

html {
    scroll-behavior: smooth;
}


/* header */


.navbar {
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.logo img {
    height: 120px;
    margin: 10px;
}

.nav-links {
    padding-top: 20px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    padding: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/* main  */


.registration {
    display: flex;
    gap: 50px;
    margin: 70px 200px;
}

.registration img {
    width: 500px;
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 70px;
}

form input {
    border: solid 0.5px rgba(37, 29, 122, 0.3);
    border-radius: 15px;
    width: 500px;
    height: 30px;
}

form button {
    width: 180px;
    height: 40px;
    border: solid 0.5px rgba(37, 29, 122, 0.3);
    border-radius: 15px;
    background-color: #ffffff;
}

form button:hover {
    background-color: rgba(37, 29, 122, 0.3);
}

/* footer */


footer {
    background-color: #10002B;
    margin-top: 120px;
    padding-top: 30px;
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.footer h3 {
    color: white;
    font-size: 20px;
    margin: 15px;
}

.footer div ul li {
    list-style: none;
    padding: 5px;
}

.footer div ul li a {
    text-decoration: none;
    color: rgb(205, 201, 233);
}

footer img {
    width: 300px;
    margin: 20px;
}